<!--
  @File Name          : bearMap.html
  @Description        : 
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              : 
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 3:08:08 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
        <article class="slds-card">
            <lightning-map
                map-markers={mapMarkers}
                zoom-level="11"
                markers-title="Bears">
            </lightning-map>
        </article>
    </template>