<!--
  @File Name          : bearTile.html
  @Description        :
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              :
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 2:55:14 pm
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
    							<!-- Start bear tile -->
                                <lightning-card title={bear.Name} class="bear-tile">
                                        <div slot="actions">
                                                <lightning-button-icon
                                                    icon-name="utility:search"
                                                    icon-class="bear-tile-button"
                                                    variant="bare"
                                                    alternative-text="Open record"
                                                    onclick={handleOpenRecordClick}>
                                                </lightning-button-icon>
                                            </div>

                                        <div class="slds-p-horizontal_small">
                                            <div class="slds-media">
                                            <!--	<div class="slds-media__figure">
                                                    <img src={appResources.bearSilhouette} alt="Bear profile" class="bear-silhouette"/>
                                                </div> -->
                                                <div class="slds-media__body">
                                                    <p class="slds-m-bottom_xx-small">{bear.Sex__c}</p>
                                                    <p class="slds-m-bottom_xx-small">{bear.Age__c} years old</p>
                                                    <p class="slds-m-bottom_xx-small">{bear.Height__c} cm</p>
                                                    <p class="slds-m-bottom_xx-small">{bear.Weight__c} Kg</p>
                                                </div>
                                            </div>
                                        </div>
                                    </lightning-card>
                                    <!-- End bear tile -->
</template>