<!--
  @File Name          : helloWebComponent.html
  @Description        :
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              :
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 1:20:54 pm
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
	<lightning-card title={capitalizedGreeting} icon-name="custom:custom14">
		<div class="slds-m-around_medium">
            <p>Today is {currentDate}</p>
            <lightning-input label="Name" value={greeting} onchange={handleGreetingChange}></lightning-input>
		</div>
	</lightning-card>
</template>