<!--
  @File Name          : bearLocation.html
  @Description        : 
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              : 
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 1:46:58 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
	<lightning-card title={cardTitle} icon-name="standard:address">
		<lightning-map map-markers={mapMarkers} zoom-level="12"></lightning-map>
	</lightning-card>
</template>