<!--
  @File Name          : bearsList.html
  @Description        :
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              :
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 2:56:39 pm
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
	<lightning-card title="Bears" icon-name="utility:animal_and_nature">
		<div class="slds-card__body_inner">
			<!-- Start bear list -->
			<template if:true={bears.data}>

				<lightning-input type="search" onchange={handleSearchTermChange} variant="label-hidden"
					class="slds-m-bottom_small" label="Search" placeholder="Search for bears" value={searchTerm}>
				</lightning-input>

				<lightning-layout multiple-rows="true" pull-to-boundary="small">

					<template for:each={bears.data} for:item="bear">
						<lightning-layout-item key={bear.Id} size="3" class="slds-p-around_x-small">


							<c-bear-tile bear={bear} onbearview={handleBearView}></c-bear-tile>


						</lightning-layout-item>
					</template>
				</lightning-layout>
				<!-- No bears found -->
				<template if:false={hasResults}>
					<div class="slds-align_absolute-center slds-m-vertical_small">
						This is beary disturbing, we did not find results...
					</div>
				</template>

			</template>
			<!-- End bear list -->
			<!-- Data failed to load -->
			<template if:true={bears.error}>
				<div class="slds-text-color_error">
					An error occurred while loading the bear list
				</div>
			</template>
		</div>
	</lightning-card>
</template>