<!--
  @File Name          : bearSupervisor.html
  @Description        : 
  @Author             : samantha.reilly@pacificmags.com.au
  @Group              : 
  @Last Modified By   : samantha.reilly@pacificmags.com.au
  @Last Modified On   : 04/02/2020, 1:55:17 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    04/02/2020   samantha.reilly@pacificmags.com.au     Initial Version
-->
<template>
	<lightning-card title="Supervisor" icon-name="standard:people">
		<div class="slds-m-around_medium">
			<!-- Show supervisor when bear is loaded -->
			<template if:true={bear.data}>
				<lightning-record-form
					object-api-name="Contact"
					record-id={supervisorId}
					layout-type="Compact">
				</lightning-record-form>
			</template>
			<!-- Data failed to load -->
			<template if:true={bear.error}>
				<div class="slds-text-color_error">
					An error occurred while loading the bear record
				</div>
			</template>
		</div>
	</lightning-card>
</template>